services:
  db:
    image: postgres:15-alpine
    container_name: postgres_ss_tickets
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}       
      POSTGRES_PASSWORD: ${DB_PASSWORD} 
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql # Automação de tabelas
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: